.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(255, 255, 255) !important;
    background-color: #81e0ff;
}

/* style date-picker */
#date-picker {
    position: relative;
    margin: auto;
    width: 50%;
    padding: 5px;
    display: block !important;
}